<div class="row">
    <div class="col-9">
        <p>
        <h5>This First Heading Will
            <span style="color: gray;">Carch Your Eye</span>
        </h5>
        </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="col-3">
            <img class="col-6 align-items-center justify-content-end rounded-circle img-fluid w-50 d-block mx-auto"
                src="assets/img/1.jpg" alt="rostro" />
        </div>
    </div>


</div>


</div>










<p>Hello, I'm the first_heading.html</p>